force-app/main/default/flows/GameStartFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>CheckForConfiguration</name>
        <label>CheckForConfiguration</label>
        <locationX>938</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Configuration_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ConfigurationFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGameConfiguration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExistingPlayer</targetReference>
            </connector>
            <label>ConfigurationFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForExistingPlayer</name>
        <label>CheckForExistingPlayer</label>
        <locationX>909</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>GotGameConfig</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlayerFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingPlayer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Thank_You</targetReference>
            </connector>
            <label>PlayerFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForGame</name>
        <label>CheckForGame</label>
        <locationX>505</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Game_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GameFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGame</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Game</targetReference>
            </connector>
            <label>GameFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForTeam</name>
        <label>CheckForTeam</label>
        <locationX>620</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Need_To_Create_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TeamFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GotTeam</targetReference>
            </connector>
            <label>Team Found</label>
        </rules>
    </decisions>
    <interviewLabel>GameStartFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GameStartFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddPlayToTeam</name>
        <label>AddPlayToTeam</label>
        <locationX>1220</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <inputAssignments>
            <field>Supply_Chain_Configuration__c</field>
            <value>
                <elementReference>GetSupplyChainConfiguration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team__c</field>
            <value>
                <elementReference>GetTeam.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Player__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateTeam</name>
        <label>CreateTeam</label>
        <locationX>459</locationX>
        <locationY>851</locationY>
        <connector>
            <targetReference>CreatedTeam</targetReference>
        </connector>
        <inputAssignments>
            <field>Game_Instance__c</field>
            <value>
                <elementReference>GetGame.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Enter_New_Team_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetExistingPlayer</name>
        <label>GetExistingPlayer</label>
        <locationX>939</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForExistingPlayer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Player__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGame</name>
        <label>GetGame</label>
        <locationX>409</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForGame</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Game_Code</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game_Instance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGameConfiguration</name>
        <label>GetGameConfiguration</label>
        <locationX>752</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForConfiguration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGame.Game_Configuration__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Game_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSupplyChainConfiguration</name>
        <label>GetSupplyChainConfiguration</label>
        <locationX>968</locationX>
        <locationY>769</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddPlayToTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game_Configuration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGameConfiguration.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>GetGameConfiguration.Max_Members_Per_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Supply_Chain_Configuration__c</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTeam</name>
        <label>GetTeam</label>
        <locationX>506</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Game_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetGame.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Members__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>GetGameConfiguration.Max_Members_Per_Team__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Configuration_Error</name>
        <label>Configuration Error</label>
        <locationX>944</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
        <fields>
            <name>ErrorNoticeTxt</name>
            <fieldText>&lt;p&gt;The Game with ID was not configured properly. Please reach out to the game admin or enter a different number,&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Game</name>
        <label>Confirm Game</label>
        <locationX>627</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetGameConfiguration</targetReference>
        </connector>
        <fields>
            <name>ConfirmTxt</name>
            <fieldText>&lt;p&gt;{!GetGame.Description__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreatedTeam</name>
        <label>CreatedTeam</label>
        <locationX>336</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetTeam</targetReference>
        </connector>
        <fields>
            <name>ShowCreateTxt</name>
            <fieldText>&lt;p&gt;Team Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Game_Not_Found</name>
        <label>Game Not Found</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
        <fields>
            <name>GameNotFoundTxt</name>
            <fieldText>&lt;p&gt;The game with code {!Game_Code} was not found. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GotGameConfig</name>
        <label>GotGameConfig</label>
        <locationX>266</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetTeam</targetReference>
        </connector>
        <fields>
            <name>showGameConfig</name>
            <fieldText>&lt;p&gt;Game Config {!GetGameConfiguration.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Game instance: {!GetGame.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GotTeam</name>
        <label>GotTeam</label>
        <locationX>838</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetSupplyChainConfiguration</targetReference>
        </connector>
        <fields>
            <name>ShowTeamGot</name>
            <fieldText>&lt;p&gt;Got team: {!GetTeam.Name__c}&lt;/p&gt;&lt;p&gt;Team Members: {!GetTeam.Team_Members__c}&lt;/p&gt;&lt;p&gt;Max: {!GetGameConfiguration.Max_Members_Per_Team__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Need_To_Create_Team</name>
        <label>Need To Create Team</label>
        <locationX>726</locationX>
        <locationY>824</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateTeam</targetReference>
        </connector>
        <fields>
            <name>CreateTeamTxt</name>
            <fieldText>&lt;p&gt;Need to create team&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_New_Team_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter New Team Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>1350</locationX>
        <locationY>779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouTxt</name>
            <fieldText>&lt;p&gt;Thank You&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>261</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetGame</targetReference>
        </connector>
        <fields>
            <name>WelcomeTxt</name>
            <fieldText>&lt;p&gt;To get started, please enter the game code.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Game_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0000</stringValue>
            </defaultValue>
            <fieldText>Game Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
